    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>About this conference </h2>
                <p>Recent years have seen an increasing interest of the astronomical community on the topic of super-Eddington accretion on compact objects, which can apply to a variety of systems, such as supermassive black holes, black hole binaries, ULXs, neutron stars. Moreover, the possibility that the Eddington limit may be violated can have important implications for the related topics of black hole growth, galaxy evolution and AGN feedback. After the two successful editions in <a href="https://breakingthelimits.github.io/supereddington2016/ ">2016</a> and <a href="https://breakingthelimits.github.io/supereddington2018/ ">2018</a> and a long hiatus for… viral reasons, we reconvene to discuss the advancement done in the last six years. This workshop will be an opportunity to compare recent observations with state-of-the-art theoretical modeling of super-Eddington flows, and to discuss the cosmological implications of this regime of accretion.
                </p>

                


            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-1" style='text-align: left'>
                </br>
                <h2>Scientific Organizing Committee</h2>
Matteo Bachetti (co-chair) - INAF Cagliari, Italy<br />
Jane Dai - The University of Hong Kong (Hong Kong) <br />
Stefanie Komossa (Max Planck Institute, Germany) <br />
Alessandro Lupi - Insubria University (Italy)<br />
Matt Middleton - University of Southampton (UK)<br />
Ken Ohsuga - University of Tsukuba (Japan)<br />
Ciro Pinto - INAF IASF Palermo (Italy) <br />
Claudio Ricci - Universidad Diego Portales (Chile)<br /> 
Raffaella Schneider - Sapienza University of Rome (Italy)<br /> 
Francesco Tombesi (co-chair) - Tor Vergata University of Rome, Italy<br />
Marta Volonteri - Institut de Astrophysique de Paris (France) <br />


            </div>
            <div class="col-md-5" style='text-align: left'>
                                </br>
                <h2>Local Organizing Committee</h2>
Matteo Bachetti (chair)  </br>
Tiziana Coiana </br>
Eleonora Veronica Lai </br>
Maura Pilia </br>
Paolo Soletta
 </br>
            </div>
        </div>
    </section>
