    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
      <h2>Contacts</h2>
        <div class="row">
          <div class="col-md-5 col-md-offset-1" style='text-align: left'>
            <h3>Organizing Secretariat</h3>
              Kassiopea Group Srl<br />
              Via S. Tommaso D'Aquino 20 (Torre Verde)<br />
              09134 Cagliari<br />
              Italy<br />
              Tel.: +39 (0)70 651242<br />
              <!--Fax: +39 (0)70 656 263<br /> -->
              e-mail: <a href="mailto:info@kassiopeagroup.com">info@kassiopeagroup.com</a><br />
              web: <a href="https://www.kassiopeagroup.com">https://www.kassiopeagroup.com</a>
          </div>
          <div class="col-md-5" style='text-align: left'>
            <h3>LOC</h3>
              To contact the LOC, please use <br />
              the following email address:<br />
              <a href="mailto:{{ site.email }}">{{ site.email }}</a>

          </div>
        </div>

        <br/>

    </section>
