    <!-- Map Section
    <div id="map"></div> -->
    <div style="margin: auto; width=100%">

    </div>
    <div class="intro-body" style="background: url({{ site.baseurl }}/img/map.jpg)  no-repeat bottom center scroll; margin-top:100px">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2" style="text-align: center; height: 300px; line-height:300px">
        <span style="display: inline-block; vertical-align: middle; line-height: normal;"><a href="https://maps.app.goo.gl/ZxepYKxeKofn1g3x8" style="color: #FFFFFF;">
            <h3 class="brand-heading" style="font-size:300%;">See map on Google</h3>
        </a></span>
                </div>
            </div>
        </div>
    </div>
