 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
<!--                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  <span class="light">Start</span> Bootstrap
                </a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse navbar-left navbar-main-collapse" style="margin: auto;">
             
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden active">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <div style="float:left; width:80px;"><a href="/supereddington2025"><img src="/supereddington2025/img/speed_sign.png" width="50px"></a></div>
                    </li>
                    <li>
                        <a class="page-scroll" href="/supereddington2025/#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/supereddington2025/program">Program</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/supereddington2025/venue">Hotel Info</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/supereddington2025/news">News</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/supereddington2025/travel">Information</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/supereddington2025/registration">Registration</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/supereddington2025/registered">Participants</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/supereddington2025/#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
