<section id="invited" class="container content-section text-center">

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Sessions</h2>

        <p>The program will be divided into themes, covering around half/one day each.
        A discussion on the topics of the session will take place at the end of each
        session, coordinated by a moderator.</p>

        <p>Invited speakers will be announced shortly</p>

        <b>Super-Eddington Accretion Physics</b><br />
        <!-- Invited speaker: Yan-Fei Jiang -->

        <b>Black hole growth and galaxy evolution </b><br />
        <!-- Invited speaker: Kohei Inayoshi (PKU), TBD -->

        <b>Active Galactic Nuclei and quasars</b><br />
        <!-- Invited speaker: Jian-Min Wang (IHEP)-->

        <b>X-ray binaries and ULXs</b><br />
        <!-- Invited speaker: Natalie Webb (IRAP) -->

        <b>Gamma-ray bursts and tidal disruption events</b><br />
        <!-- Invited speaker: Erin Kara (MIT) -->

        <b>New and future observatories ...</b><br />

    </div>
</div>
</section>



