<section id="invited" class="container content-section text-center">

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Abstract submission closed.</h2>

        <h2>Sessions</h2>

        <p>The program will start on Monday afternoon and end on Friday morning.</p>

        <p>The schedule will be divided into themes, covering around half/one day each.
        A discussion on the topics of the session will take place at the end of each
        session, coordinated by a moderator.</p>

        <p>
            <b>Super-Eddington Accretion Physics</b><br />

            <b>Black hole growth and galaxy evolution </b><br />

            <b>Active Galactic Nuclei and quasars</b><br />

            <b>X-ray binaries and ULXs</b><br />

            <b>Gamma-ray bursts and tidal disruption events</b><br />

        </p>
    </div>
</div>
<br />
<br />
<br />

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h2>Confirmed Invited and solicited speakers</h2>
        <p>
            Mitch Begelman (JILA-Colorado)<br />
            Yan-Fei Jiang (Flatiron institute)<br />
            Chichuan Jin (NAOC)<br />
            Peter Kosec (CfA)<br />
            Alessia Tortosa (INAF)<br />
            Alexandra Veledina (University of Turku)<br />
            Jian-Min Wang (IHEP)<br />
            Natalie Webb (IRAP)<br />
        </p>
    </div>
</div>
</section>



