<!-- Download Section -->
     <section id="venue" class="content-section text-center">
        <div class="venue-section">
            <div class="container">
                <div class="col-md-8 col-md-offset-2" style="background-color:rgba(0,0,0,0.7)">
                    <h2>Venue</h2>
                    The workshop will take place at Hotel Regina Margherita, in the lively center of Cagliari. The hotel will provide up to 40 rooms for participants at a fixed rate of 145€/night for single rooms and 87.5/person/night in double room, for reservations until Feb.15th. After that date, the number of available rooms will decrease.


                    More information about registration, travel and accommodation can be found on the website.
                    The secretariat of the workshop is managed by Kassiopea Group. For any organizational questions or room reservations, please contact <a href="mailto:luisaserra@kassiopeanews.com"> Luisa Serra</a>

                    <!-- <p> The Horse Country Resort is located in the west part of Sardinia<br />  <br />
                       FOR HOTEL BOOKING PLEASE CONTACT: <a href="mailto:luisaserra@kassiopeanews.com"> luisaserra@kassiopeanews.com</a> <br />
                    </p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="mailto:luisaserra@kassiopeanews.com" class="btn btn-default btn-lg">BOOK NOW</a>
                        </li>
                        <li>
                            <a href={{ site.baseurl }}/travel class="btn btn-default btn-lg">Travel information</a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </section>



