<!-- Download Section -->
     <section id="venue" class="content-section text-center">
        <div class="venue-section">
            <div class="container">
                <div class="col-md-8 col-md-offset-2" style="background-color:rgba(0,0,0,0.7)">
                    <h2>Venue</h2>
                    <p> The Horse Country Resort is located in the west part of Sardinia<br />  <br />
                       FOR HOTEL BOOKING PLEASE CONTACT: <a href="mailto:luisaserra@kassiopeanews.com"> luisaserra@kassiopeanews.com</a> <br />
                    </p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="mailto:luisaserra@kassiopeanews.com" class="btn btn-default btn-lg">BOOK NOW</a>
                        </li>
                        <li>
                            <a href={{ site.baseurl }}/travel class="btn btn-default btn-lg">Travel information</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


    
